li, a {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color:white;
    display: inline-block;
    justify-content: space-between;
}

.navtop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: rgb(103, 69, 130);
    width: 100%;
    top: 0;
    display: flex; 
}

.navtop img {
    height: 40%;
    width: 40%;
}

header {
    background-image: url(../img/bg-banner-claro.png);
    height: 80vh;
    background-size: cover;
    color: white;
    text-align: left;
}

.intro {
    padding: 250px;
}

h1 {
    font-size: 36px;
    color: white;
    font-style: bold;
    text-shadow: 50vh black;
}

.intro p {
    font-size: 22px;
}

.intro button {
    padding: 20px; 
    background-color: rgb(192, 94, 185);
    border-radius: 5px;
    font-weight: 800px;
    font-size: 14px;
    border: none;
}

.sobre {
    background-color: rgb(139, 94, 152);
}

.sobre p {
    margin-left: 60px;
    margin-right: 60px;
}
     
.secao1 {
    display: inline-block;
    background-color: rgb(243,242,240);
    padding-top: 20px;
    
}

.secao1 h2 {
    color: rgb(104, 69, 129);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin-left: 300px;
}

.bot2 {
    padding: 15px; 
    background-color: rgb(192, 94, 185);
    border-radius: 5px;
    font-weight: 800px;
    font-size: 14px;
    font-weight: 800px;
    border: none;
    margin-left: 600px;
}

.criadoras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    text-align: center;
    margin-left: 300px;
}

.sobre img {
    height: 250px;
    width: 250px;
    margin-top: 20px;
}

.sobre {
    display: inline-block;
    color: white;
    font-size: 26px;
    text-align: center;
}

.sobre p {
    width: 80%;
    margin-left: 140px; 
}

.secao2 {
    background-color: rgb(103, 69, 130);
}

.secao2 h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

.bot3 {
    padding: 15px; 
    background-color: rgb(192, 94, 185);
    border-radius: 5px;
    font-weight: 800px;
    font-size: 14px;
    font-weight: 800px;
    border: none;
    margin-left: 600px;
    margin-top: 20px;   
}

footer { 
    background-color: rgb(50,50,52);
    color: white;
    display: flex;
}


footer img {
    height: 40%;
    width: 40%;   
}

.direito img {
    height: 80px;
    width: 100px;
}

.rodape {
    display: block;  
    float: right;
    margin-right: 10px;
    list-style-type: none;
}


/*ul>li {
    list-style: none;
}
*/

.commons {
    background-color: blueviolet;
    text-align: center;
}

.palavra {
    text-align: center;
    justify-content: space-around;
    padding-top: 100px;
}

